/* ./src/index.css */
@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-base-red-darker: #d12d3c;
  --color-base-red: #f23d4c;
  --color-base-red-lighter: #f45d6a;

  --color-base-pink-darker: #d1426d;
  --color-base-pink: #f2527d;
  --color-base-pink-lighter: #f4728d;

  --color-base-dark-darker: #0d0e16;
  --color-base-dark: #1d1e26;
  --color-base-dark-lighter: #2d2e36;

  --color-base-blue-darker: #2061e2;
  --color-base-blue: #3071f2;
  --color-base-blue-lighter: #4081ff;

  --color-base-light-blue-darker: rgb(27, 109, 215);
  --color-base-light-blue: #2e83f2;
  --color-base-light-blue-lighter: #3e93ff;

  --color-base-purple-darker: #c93ec0;
  --color-base-purple: #d94ed0;
  --color-base-purple-lighter: #e95ee0;

  --color-base-navy-darker: #4e73e2;
  --color-base-navy: #4961d7;
  --color-base-navy-lighter: #6e93ff;

  --color-base-coral-darker: #e2836e;
  --color-base-coral: #f2937e;
  --color-base-coral-lighter: #f2a38e;

  --color-base-turquoise-darker: rgb(12, 203, 184);
  --color-base-turquoise: #04d9c4;
  --color-base-turquoise-lighter: rgb(8, 234, 211);

  --color-passive: #6a737a;
  --color-active: #788ba3;
  --color-active-darker: rgb(55, 55, 102);
  --color-moon: #1f1e2d;
  --color-moon-lighter: rgb(47, 46, 68);
  --color-muted-white: #aeaeb2;
  --color-error: rgb(187, 34, 47);
}

* {
  body {
    background-color: var(--color-moon);
  }

  img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .no-scroll {
    overflow: hidden;
  }
}
